// Color palette
$mono-0: var(--mono-0);
$mono-1: var(--mono-1);
$grey-1: var(--grey-1);
$grey-2: var(--grey-2);
$primary-1: var(--primary-1);
$primary-2: var(--primary-2);
$error-1: var(--error-1);
$font-primary-1: var(--font-primary-1);
$font-secondary-1: var(--font-secondary-1);

// Motion
$transition: 0.3s ease;

// Spacing
$spacing: 24px;

// Shadow
$box-shadow-1: 0 0 10px -1px rgba(0,0,0,0.2);
