@import "../../../styles/variables";

.heading {
  display: flex;
  font-weight: normal;
  align-items: center;
  margin: 0;

  &_3 {
    font-size: 24px;
    font-family: $font-primary-1;
    font-weight: 500;
    line-height: 28px;
    word-spacing: 6px;
  }

  &_4 {
    font-size: 40px;
    font-family: $font-secondary-1;
    line-height: 48px;
  }
}
